#content{
    font-size: 14px;
    line-height: 19px;
}

#EditLink{
    float: right;
    text-align: right;
}

body {
  -webkit-font-smoothing: antialiased;
  color: black;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
}

.idea-title {
    font-size: 200%;
}
a {
  color: #D92A29;
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
a:hover {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #D92A29;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
p {
  line-height: 1.7em;
}
blockquote {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  margin-bottom: 15px;
}
hr {
  border: none;
  height: 1px;
  background: #000000;
}
legend {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  color: rgba(255, 255, 255, 0.9);
}
.btn,
.logo a {
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.hero-unit {
  background-color: #5E5E5E;
  text-align: left;
}

.hero-unit h1,
.hero-unit h2 {
  font-size: 32px;
  line-height: 48px;
  margin-left: 163.5px;
}

.pageDescription{
    text-align: left;
    float: left;
    margin-left:15%;
    font-size: 15px;
    color: white;
}

.footer {
    margin-top: 30px;
    padding: 30px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.footer li {
  list-style: none;
  float: right;
  margin-right: 10px;
}
.nav > li > a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.pager a {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}
.pager a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.thumbnail {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.3);
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #D92A29;
}
.background .image {
  width: 100%;
  height: 100%;
}
#header {
  padding: 30px;
  background-color: #D92A29;
}
#header .logo {
  font-size: 44px;
  font-weight: 400;
  line-height: 48px;
  font-family: 'Lato', sans-serif;
  width: 80%;
}
#header .tagline {
  line-height: 18px;
}
#header .navigation {
  margin: 40px 0 5px 0;
  padding: 0;
}
#header .navigation li {
  display: inline;
  font-size: 200%;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  margin-right: 15px;
}

.navigation a {
    color: white;
}

.navigation a:hover{
    color: white;
}

.dropdown-menu {
  background: rgba(0, 0, 0, 0.5);
}
.dropdown-menu a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}
.dropdown-menu a:hover {
  color: #ffffff;
}
.dropdown-menu li {
  margin: 0 !important;
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.3);
}
img.right {
  margin: 0 0 15px 15px;
  float: right;
}
img.left {
  margin: 0 15px 15px 0;
  float: left;
}
.blog-post {
  padding: 0 0 60px 0;
}
.blog-post .meta {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px 0;
}
.blog-post .meta dt {
  font-size: 12px;
}
.blog-post .meta dd {
  margin: 0 0 15px 0;
}
.blog-post .entry {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 15px;
}
.blog-post .entry h2 {
  margin-bottom: 15px;
}
.blog-post .entry p {
  margin-bottom: 15px;
}
.blog-sidebar .widget-title {
  margin-bottom: 15px;
}
.blog-sidebar .widget {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px 0;
}
.blog-comments {
  list-style: none;
  margin: 0;
  padding: 0 0 0 30px;
}
.blog-comments li {
  list-style: none;
}
.blog-comments .comment-avatar {
  float: left;
  width: 10%;
  padding-bottom: 15px;
}
.blog-comments .comment-meta {
  float: left;
  width: 80%;
}
.blog-comments .comment-meta cite {
  font-size: 14px;
  font-weight: bold;
}
.blog-comments .comment-meta p {
  font-family: georgia, "serif";
  font-size: 14px;
  font-style: italic;
}
.comment-submit {
  margin-left: 160px !important;
}
.portfolio-large {
  margin-bottom: 20px;
}
.portfolio-thumb-small {
  margin-bottom: 20px;
}
.portfolio-thumb-small a {
  opacity: 0.8;
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
}
.portfolio-thumb-small a:hover {
  opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
}
.project-info {
  padding-left: 30px;
}
.project-info h2 {
  margin-bottom: 15px;
}
.icon-white {
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.module {
  padding-bottom: 60px;
}
.module a {
  opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
}
.module img {
  width: 100%;
  padding-bottom: 5px;
  opacity: 0.8;
}
.module img:hover {
  opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
}
.module h3 {
  font-size: 14px;
  margin: .2em 0;
}
.module p {
  font-size: 11px;
}
.container-inset {
    background-color: #F5EDF0;
    margin-top: 0;
}
.user-panel a {
    color: white;
}
.user-panel {
    color: white;
    text-align: right;
    margin-top: 30px;
    font-size: 15px;
    margin-right: 5%;
}
.navigation {
    width: 79%;
}
.about {
    font-size: 130%;
    text-align: left;
    width: 65%;
    margin: 0 auto;
    margin-bottom:9px;
    line-height: 110%;
    color : #575656;
}
#ModalRegisterForm {
    float: right;
}
#ModalLoginForm {
    float: left;
}
#LoginModal {
    width: 800px;
    margin-left: -400px;
}
.modal h3 {
    color: black;
    text-shadow: none;
}
#CommentForm{
    text-align: left;
    margin-left: 30px;
}
.comment{
    text-align: left;
    margin-left: 15px;
    padding-bottom: 10px;
}
.commentChild{
    margin-top: 15px;
    position: relative;
}
#UserAddForm{
    margin-top: 20px;
}
#UserLoginForm{
    margin-top: 125px;
}
.hero-unit p{
    color: white;
}
.hero-unit a, 
.hero-unit a:hover{
    color: #FF5554;
}
#IdeaDescription {
   font-size: 120%;
}
.error-message {
    color: red;
    font-size: 20px;
    line-height: 110%;
}
#flashMessage {
    color: #D92A29;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 20px;
}

#FacebookModalButton{
    height: 23px;
    width: 73px;
}

.profileHeading{
    color:black;
    text-shadow:none;
}
#IdeaAddForm{
    text-align: left;
    float: left;
    margin-left: 10%;
    clear: left;
    width: 35%;
}
#SubmitIdea{
    margin-bottom: 20px;
    margin-top: 10px;
}
#InterestId{
    width: 389px;
    height: 30px;
}
#IdeaDescription{
    width: 100%;
    resize: none;
} 
#IdeaName{
    width: 100%;
}
#IdeaTips{
    float: right;
    clear: right;
    text-align: right;
    margin-right: 10%;
}

.nameTip{
    margin-top: 10px;
}

.descriptionTip{
    margin-top: 60px;
}

.interestTip{
    margin-top: 70px;
}

.ideaList{
    margin-top: 20px;
}

.commentChild{
    border-left-style: dotted;
    border-width: 1px;
    border-color: #5E5E5E;
}

.commentHr{
    border-top: 1px dotted #5E5E5E;
    color: #F5EDF0;
    background-color: #F5EDF0;
    height: 4px;
    /*width: 97%;*/
    margin-top: 1px;
}

.viewHr{
    border-top: 1px dotted #5E5E5E;
    color: #F5EDF0;
    background-color: #F5EDF0;
    height: 4px;
    width: 96%;
    margin-left: 17.55px;
}

#commentBox{
    width: 35%;
}

.idea{
    text-align: left;
    margin-left: 123.5px;
    top: 50%;
    left: 0;
    width: 80%;
}

.ideaInfo{
    margin-left: 80px;
}

.ideaVotes{
    position: absolute;
    float: left;
    margin-right: 20px;
    line-height: 60px;
    font-size: 30px;
    color: #5E5E5E;
    width: 60px;
    text-align: center;
    
}


#IdeaUpvoteCount {
	font-size: 30px;
	position: relative;
	cursor: default;
	color: white;
	
	text-align: center;
	line-height: 0px;
	pointer-events: none;
	top: -70px;
	left: 25px;
}

#UpvoteButtonContainer{
    float: left;
    font-size: 14px;
    margin-left: 48.5px;
    margin-top: -10px;
    width: 100px;
}

#IdeaInfo{
    font-size: 15px;
    color: white;
    margin-left: 163.5px;
}

#IdeaInfo h1{
    margin-left: 0;
}

.upvoteIdea{
    background:url(/img/bulbsprites.png) -100px 0;
    color: white;
    width: 100px;
    height: 100px;
}

.upvoteIdea.voted{
    background:url(/img/bulbsprites.png) 0 0;
}

#IdeaUpvoteCount.voted{
    color: #5E5E5E;
}

.commentContent{
    padding-left: 10px;
}

/*.upvoteComment{
    float: left;
    background:url(/img/bulbspritessmalldark.png) -60px 0;
    width: 60px;
    height: 60px;
    opacity: 0.8;
}

.upvoteComment.voted{
    background:url(/img/bulbspritessmalldark.png) 0 0;
    opacity: 0.9;
}*/

.upvoteComment{
    float: left;
    width: 60px;
    height: 60px;
    position: absolute;
}

.commentUpvoteCount {
    
    float: left;
    color: #5E5E5E;
    
	font-size: 24px;
	font-weight: 600;
	position: relative;
	cursor: default;
	
	width:60px;
	height:60px;
	text-align:center;
	line-height:60px;
	margin-left: -5px;
	pointer-events:none;
	
	opacity: 0.8;
	
}

.commentUpvoteCount.voted{
    opacity: 1;
}

#EditButton{
    float: left;
    margin-left: 203.5px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.saveProfile{
    margin-top: 20px;
}

#EditForm{
    text-align: left;
    margin-left: 203.5px;
    margin-top: 40px;
}

#ProfileAboutMe{
    height: 136px;
    width: 420px;
}

.profile{
    text-align: left;
    margin-left: 203.5px;
    margin-top: 40px;
}

.listUpvoteButtonContainer{
    float: left;
}

.messagesContainer{
    text-align: left;
    margin-left: 203.5px;
}

.message{
    margin-top: 20px;
    margin-bottom: 40px;
}

#MessageSendForm{
    margin-top: 20px;
    text-align: left;
    margin-left: 203.5px;
}

#MessageSubject{
    width: 420px;
}

#MessageContent{
    height: 136px;
    width: 420px;
}

.headerUnderlineLink{
    opacity: 1;
    text-decoration: underline;
}

#LogoutLink{
    margin-top: 10px;
}

.buttonLink{
    background:none;
    border:none; 
    padding:0;
    /*border is optional*/
    color: #D92A29;
}

.buttonLink:hover{
    text-decoration: underline;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}